RewriteEngine On
Options -indexes
# hapus ekstensi
RewriteRule ^admin dashboard.php
RewriteRule ^logout app/controller/logout.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^([a-zA-Z0-9_-]+)$ dashboard.php?page=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ dashboard.php?page=$1

# KONFIRGURASI PEMANGGILAN ID
RewriteCond $1 !^(index\.php)

# PEMAGIILAN BERDASARKAN ID USER
RewriteRule ^gejala-penyakit/([^/\.]+)/?$ dashboard.php?page=gejala-penyakit&id=$1 [L] 
RewriteRule ^gejala-hama/([^/\.]+)/?$ dashboard.php?page=gejala-hama&id=$1 [L] 
RewriteRule ^detail-diagnosa/([^/\.]+)/?$ dashboard.php?page=detail-diagnosa&id=$1 [L]
RewriteRule ^penanganan-penyakit/([^/\.]+)/?$ dashboard.php?page=penanganan-penyakit&id=$1 [L]
RewriteRule ^penanganan-hama/([^/\.]+)/?$ dashboard.php?page=penanganan-hama&id=$1 [L]

# DELETE 
RewriteRule ^delete-penyakit/([^/\.]+)/?$ dashboard.php?page=delete-penyakit&id=$1 [L]
RewriteRule ^delete-data-gejala/([^/\.]+)/?$ dashboard.php?page=delete-data-gejala&id=$1 [L]
RewriteRule ^delete-gejala-penyakit/([^/\.]+)/?$ dashboard.php?page=delete-gejala-penyakit&id=$1 [L]
RewriteRule ^delete-diagnosa/([^/\.]+)/?$ dashboard.php?page=delete-diagnosa&id=$1 [L]
RewriteRule ^delete-gejala/([^/\.]+)/?$ dashboard.php?page=delete-gejala&id=$1 [L]
